[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
publ = "*"
gunicorn = "*"
python-memcached = "*"
flask-hookserver = "*"
watchdog = "==0.9.0"
pushl = "*"

[requires]
python_version = "3.7"
