<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://novembeat.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Make music every day in November.">
{% block title %}
    <title>{{ category.name or "Novembeat"}}
    {%- if view.tags -%}
        , tagged {{','.join(view.tags)}}
    {%- endif -%}
    {%- if view.range %} | {{ view.range }}{% endif %}</title>
{% endblock %}

{% set content = view(entry_type_not='sidebar',
                      order=category.order or "newest",
                      count=int(category.count) if category.count else None) %}
{% if category.paging == 'year' and content.is_current %}
{% set content = content(date=category.last.date_year) %}
{% endif %}

{% block stylesheet %}
    <link rel="stylesheet" href="style.css" />
{% endblock %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ static('favicon.png') }}" />
{% block webmention %}
    {% include '/_webmention.html' %}
{% endblock %}


    {% if category.parent %}
    <link rel="up" href="{{category.parent.link}}" />
    {% endif %}
    {% if content.previous %}
    <link rel="previous" href="{{content.previous.link}}" />
    {% endif %}
    {% if content.next %}
    <link rel="next" href="{{content.next.link}}" />
    {% endif %}

    {% block scripthooks %}
    {% endblock %}
</head>

<body id="{{ template.name }}">


{% if not pagination %}
{% macro pagination() %}
    {% if content.older %}
    <span class="prev"><a href="{{content.older}}">{{ view.spec.date and content.older.range(month='MMMM YYYY',year='YYYY') or "Older" }}</a></span>
    {% endif %}
    &nbsp;
    {% if content.newer %}
    <span class="next"><a href="{{content.newer}}">{{ view.spec.date and content.newer.range(month='MMMM YYYY',year='YYYY') or "Newer" }}</a></span>
    {% endif %}
{% endmacro %}
{% endif %}

<div id="container">
    <div class="top-hook"></div>

    {% block banner %}
    <div id="banner">
        <h1>{% if category != category.root %}Novembeat: {{ category.name }}{% else %}Novembeat{% endif %}</h1>
    </div>
    {% endblock %}

    {% block navigation %}
    <nav id="nav">
        <ul>
            <li{{' class="here"'|safe if category == category.root else ''}}><a href="/">Novembeat</a></li>
            {% for subcat in category.root.subcats %}
            <li{{' class="here"'|safe if category == subcat else ''}}><a href="{{subcat.link}}">{{subcat.shortname or subcat.name}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endblock %}

    {% block content %}
    <div id="entries">

        {% if category.description %}
        <div id="description">{{category.description}}</div>
        {% endif %}

        {% if content.older or content.newer %}
        <div class="pagination">
            {{ pagination() }}
        </div>
        {% endif %}

        {% block entries %}

        {% for entry in content.entries %}
        <article class="entry h-entry{{' private' if entry.private else ''}}" id="entry-{{entry.id}}">
            <div class="heading">{% block heading scoped %}
                <div class="top-hook"></div>
                <a href="{{entry.link}}" class="u-url"></a>
                <h2>
                    {%- if entry['author-URL'] -%}
                        <a href="{{entry.get('author-URL', entry.link)}}" class="p-name">
                            {{entry.title}}
                        </a>
                    {%- else -%}
                        {{entry.title}}
                    {%- endif -%}
                </h2>
                <div class="posted">
                    <time class="dt-published" datetime="{{entry.date.isoformat()}}">
                        <span class="date">{{entry.date.format('YYYY/MM/DD')}}</span>
                        <span class="time">{{entry.date.format('h:mm A')}}</span>
                        <span class="ago">{{entry.date.humanize()}}</span>
                    </time>
                    {%- if entry.author -%}<span class="author">
                        {% if entry['Author-URL'] %}<a rel="author" href="{{entry['Author-URL']}}" class="p-author h-card">{{entry.author}}</a>{% else %}{{entry.author}}{% endif %}
                    </span>{%- endif -%}

                    {% if entry.summary %}
                    <span class="hidden p-summary">{{ entry.summary }}</span>
                    {% endif %}
                </div>
            {% endblock %}</div>

            <div class="content">
                {% block entrybody scoped %}
                {% if entry.body %}
                <div class="body e-summary">
                {% if entry.private %}
                <p class="pending">This entry is pending moderation</p>
                {% endif %}
                {{ entry.body(max_width=240,
                    max_height=240,
                    link=entry.link,
                    resize="fill",
                    count=1,
                    prefix="index_",
                    div_class="thumb") }}
                </div>
                {% endif %}

                {% if entry.more %}
                <a class="readmore" rel="self" href="{{ entry.link }}#more">Read more...</a>
                {% endif %}

                {% endblock %}
            </div>
        </article>
        {% endfor %}
        {% endblock %}

        <div class="expand"></div>
    </div>
    {% endblock %}

</div>

</body></html>
