{% extends 'index.html' %}

{% block title %}
<title>Submit a Work</title>

<script src="{{static('submit.js')}}" data-preview-url="{{url_for('generate_preview')}}"></script>

{% endblock %}

{% block banner %}
<h1>Submit a Work</h1>
{% endblock %}

{% block content %}
<div id="entries"><div class="entry"><div class="body">

{% if user %}
<p>Currently logged in as <a href="{{user.identity}}">{{user.humanize}}</a>. If this isn't you, please <a href="{{logout}}">log out</a>.</p>
{% endif %}

{% if not user %}

<p>Thank you for submitting a work. Please <a href="{{login}}">log in</a> first.</p>

{% elif 'banned' in user.groups %}

<p>Thank you for interest. Unfortunately, we've had to prohibit you from making new submissions. If you think this is in error, please <a href="mailto:fluffy%40beesbuzz.biz?subject=novembeat.com+issue">send me an email</a> or <a href="https://github.com/fluffy-critter/novembeat.com/issues">open an issue</a> and I'll look into it.</p>

{% else %}

<p>Thank you for submitting a work to Novembeat! Please fill out the following form and we'll try to get it added as soon as possible.</p>

<form method="POST" action="/_submit">

    <p><label for="artist-name">Artist name:</label><br>
        <input id="artist-name" type="text" name="artist-name"
            size=80 placeholder="Band or artist name">
    </p>

    <p><label for="artist-url">Artist homepage:</label><br>
        <input id="artist-url" type="url" name="artist-url"
            size=80 placeholder="http://example.com/">
    </p>

    <p><label for="year">Submission year:</label>
        <select id="year" name="year">
            <option value="{{arrow.get().year}}" selected>{{arrow.get().year}}</option>
            {% for year in range(arrow.get().year - 1, 2015, -1) %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
    </p>

    <p><label for="entry-url">Entry URL:</label><br>
        <input id="entry-url" type="url" name="entry-url"
        size=80 placeholder="Your playlist">
    </p>

    <div id="entry-preview"></div>

    <p><input type="submit" value="Submit"></p>

</form>

{% endif %}

</div></div></div>
{% endblock %}