{% extends 'index.html' %}

{% block title %}
<title>Submit a Work</title>

<script src="{{static('submit.js')}}" data-preview-url="{{url_for('generate_preview')}}"></script>

{% endblock %}

{% macro pagination() %}
<ul>
    {% for page in content.pages %}
    <li><a href="{{page.link}}">{{page.range(year='YYYY')}}</a></li>
    {% endfor %}
    <li class="here">Submit</li>
</ul>
{% endmacro %}


{% block banner %}
<h1>Submit a Work</h1>
{% endblock %}

{% block content %}
<div id="entries">
<div class="pagination">
    {{ pagination() }}
</div>


<div class="entry"><div class="body">

{% if user %}
<p>Currently logged in as <a href="{{user.identity}}">{{user.humanize}}</a>. If this isn't you, please <a href="{{logout}}">log out</a>.</p>
{% endif %}

{% if not user %}

<p>Thank you for submitting a work. Please <a href="{{login}}">log in</a> first.</p>

{% elif 'banned' in user.groups %}

<p>Thank you for interest. Unfortunately, we've had to prohibit you from making new submissions. If you think this is in error, please <a href="mailto:fluffy%40beesbuzz.biz?subject=novembeat.com+issue">send me an email</a> or <a href="https://github.com/fluffy-critter/novembeat.com/issues">open an issue</a> and I'll look into it.</p>

{% else %}

<p>Thank you for submitting a work to Novembeat! Please fill out the following form and we'll try to get it added as soon as possible.</p>

{% if user.identity.startswith('mailto:') %}<p>Please note that while we value your privacy, submitting via email might expose your address via <a href="https://github.com/fluffy-critter/novembeat">the website files</a>. If this is a concern, please use an alternate login mechanism or a throwaway email address.</p>{% endif %}

<form method="POST" action="/_submit">

    <p><label for="artist-name">Artist name:</label><br>
        <input id="artist-name" type="text" name="artist-name"
            size=80 placeholder="Band or artist name" required>
    </p>

    <p><label for="artist-url">Artist homepage:</label> (optional)<br>
        <input id="artist-url" type="url" name="artist-url"
            size=80 placeholder="http://example.com/">
    </p>

    <p><label for="year">Submission year:</label>
        <select id="year" name="year">
            {% if arrow.get().month >= 11 %}
            <option value="{{arrow.get().year}}" selected>{{arrow.get().year}}</option>
            {% endif %}
            {% for year in range(arrow.get().year - 1, 2015, -1) %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
    </p>

    <p><label for="entry-url">Your entry URL:</label><br>
        <input id="entry-url" type="url" name="entry-url"
        size=80 placeholder="Playlist link (BandCamp, YouTube, SoundCloud, etc.)"
        required>
    </p>

    <p><label for="alternate-url">Alternate URL:</label> (optional)<br>
        <input id="alternate-url" type="url" name="alternate-url"
        size=80 placeholder="Alternate version (different site than the main one)">
    </p>

    <div id="entry-preview"></div>
    <div id="alternate-preview"></div>

    <p><input type="submit" value="Submit"></p>

</form>

{% endif %}

</div></div></div>
{% endblock %}